body {
  width: 100%;
  margin:0 auto;
  background-color: white;
  font-size: 18px;
}
.container {
  width: 100%;
  float: left;
}
.input_group {
  position: absolute;
  bottom: 10px;
}

#log {
    position: relative;
	width: 70%;
	float: left;
	height: 90vh;
  overflow: auto;
  scrollbar: none;
  text-align: left;
  padding: 10px;
  border: solid 1px gray;
}
.blockquote-left {
  margin: 5px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #ee6e73;
  text-align: left;
}

.blockquote-right {
  padding-right: 1.5rem;
  border-right: 5px solid #2bbbad;
  text-align: right;
  margin-bottom: 5px;
}

.time {
  font-size: 11px;
}
#channel-list {
	width: 25%;
	float: left;
	height: 90vh;

  overflow: auto;
  text-align: left;
  padding: 10px;
  border: solid 1px gray;
}
.user-item {
 margin: 5px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #ee6e73;
  text-align: left;
  cursor: pointer;
}
	
.user_select {
  background-color: coral;
}

.hidden {
  display: none;
}

.blink_text {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.btn_back {
  position: absolute;
  display: none;
  top: 5px;
  left: 20px;
  border: 1px solid #000;
  background-color: #F7931E;
  width: 50px;
  height: 25px;
  vertical-align: middle;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}
.mobile_title {
  position: absolute;
  display: none;
  font-size: 20px;
  top: 5px;
  left: 80px;
}
.mobile_off {display: block}
@media (max-width: 768px) {
  .mobile_off {display: none}
  #log {width: 100%; padding-top: 40px}
  #user-list {width: 100%}
  .btn_back, .btn_back {display: block}
}